<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>List View</title>
        <style>
            #page-wrap{
                margin-right: auto;
                margin-bottom: 0;
                margin-left: auto;
                width: 600px;
            }

            #events-list-wrap{
                margin-top: 30px;
            }

            .event-title{
                font-weight: 600;
                margin-bottom: 5px;
            }

            .event{
                margin-bottom: 28px;
                -webkit-box-shadow: 0px 1px 12px -1px rgba(117,117,117,1);
                -moz-box-shadow: 0px 1px 12px -1px rgba(117,117,117,1);
                box-shadow: 0px 1px 12px -1px rgba(117,117,117,1);
                border-radius: 4px;
                padding: 10px;
            }

            .event-meta{
                font-size: 13px;
            }

            .event-meta i{
                margin-right: 5px;
            }

            .event-meta .meta{
                margin-right: 13px;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body ng-app="listViewApp">
        <div class="container" ng-controller="listViewController">
            <div id="page-wrap">
                <h2>List View</h2>
                <label style="font-weight:600">Event Location</label>
                <select ng-model="loc" ng-change="genEventList()" class="form-control">
                    <option value="all">All</option>
                    <option value="{{location.toLowerCase().replace(' ', '_')}}" ng-repeat="location in locations">{{location}}</option>
                </select>
                <div id="events-list-wrap">
                    <div class="event" ng-repeat="event in eventsList">
                        <p class="event-title">{{event.Title}}</p>
                        <div class="event-meta">
                            <span class="meta" title="Event Type"><i class="fa fa-info"></i>{{event.EventType}}</span>
                            <span class="meta" title="Location"><i class="fa fa-map-marker" aria-hidden="true"></i>{{event.Venue}}, {{event.Location}}</span>
                            <span class="meta" title="Event Date"><i class="fa fa-calendar"></i>{{event.EventDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script>
                                var listViewApp = angular.module('listViewApp', ['ngRoute']);
                                listViewApp.controller('listViewController', function ($scope, $http) {
                                    $scope.events = [];
                                    $scope.cityEvents = {};
                                    $scope.locations = [];
                                    $scope.eventsList = [];
                                    $scope.loc = 'all';
                                    $scope.json = '{ "License": "This semantictechnologies is made available under the Public Domain Dedication and License version v1.0 whose full text can be found at http://opendatacommons.org/licenses/pddl/ - See more at: http://opendatacommons.org/guide/#sthash.geZYrbHe.dpuf", "EventList": [ { "Identifier": 1130, "EventDate": "09-01-2014", "Title": "The Great Masters of the Future", "Location": "Mdina", "Venue": "Cathedral Museum", "EventType": "Exhibitions" }, { "Identifier": 1131, "EventDate": "09-01-2014", "Title": "Alex Dalli: Art Exhibition", "Location": "Valletta", "Venue": "Palazzo De La Salle", "EventType": "Exhibitions" }, { "Identifier": 1132, "EventDate": "09-01-2014", "Title": "An Exhibition of Wildlife Paintings by Chloe Jayne Waterfield", "Location": "Sliema", "Venue": "The Palace Hotel", "EventType": "Exhibitions" }, { "Identifier": 1133, "EventDate": "09-01-2014", "Title": "Views Exhibition: Anastasia P. Pace", "Location": "Balzan", "Venue": "Melita Gardens...", "EventType": "Exhibitions" }, { "Identifier": 1134, "EventDate": "09-01-2014", "Title": "Remembering the HMS Illustrious", "Location": "Vittoriosa", "Venue": "The Malta at War...", "EventType": "Exhibitions" }, { "Identifier": 1135, "EventDate": "09-01-2014", "Title": "Industrial Heritage in Malta: Public Lecture", "Location": "Valletta", "Venue": "Din l-Art Helwa", "EventType": "Learning" }, { "Identifier": 1136, "EventDate": "09-01-2014", "Title": "Advanced DJ Course", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1137, "EventDate": "09-01-2014", "Title": "Circo Viviana Orfei: Gozo", "Location": "Ghajnsielem, Gozo", "Venue": "Ghajnsielem", "EventType": "SpecialEvents" }, { "Identifier": 1138, "EventDate": "09-01-2014", "Title": "Kalypso Ensemble", "Location": "Valletta", "Venue": "Sala Isouard", "EventType": "Music" }, { "Identifier": 1139, "EventDate": "09-01-2014", "Title": "Kinemastik Film Club", "Location": "Valletta", "Venue": "Royal British Legion", "EventType": "SpecialEvents" }, { "Identifier": 1140, "EventDate": "10-01-2014", "Title": "Baystreet Ice Skating Rink", "Location": "St Julians", "Venue": "BayStreet", "EventType": "SpecialEvents" }, { "Identifier": 1141, "EventDate": "10-01-2014", "Title": "Kre-Anza", "Location": "Naxxar", "Venue": "Naxxar Local Council", "EventType": "SpecialEvents" }, { "Identifier": 1142, "EventDate": "10-01-2014", "Title": "Handel\'s Messiah | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Ta\' Giezu...", "EventType": "Music" }, { "Identifier": 1143, "EventDate": "10-01-2014", "Title": "The Valletta International Baroque Festival ", "Location": "Valletta", "Venue": "Around Valletta", "EventType": "Music" }, { "Identifier": 1144, "EventDate": "10-01-2014", "Title": "Funk\'d Up Fridays", "Location": "St Julians", "Venue": "BarCelona Lounge", "EventType": "Clubbing" }, { "Identifier": 1145, "EventDate": "10-01-2014", "Title": "Little Red", "Location": "Victoria, Gozo", "Venue": "St. Ursula Hall", "EventType": "Theatre" }, { "Identifier": 1146, "EventDate": "10-01-2014", "Title": "T.G.I.F. at Nordic Bar", "Location": "St Julians", "Venue": "Nordic Bar", "EventType": "Clubbing" }, { "Identifier": 1147, "EventDate": "10-01-2014", "Title": "Function", "Location": "Paceville", "Venue": "Cabanas Club", "EventType": "Clubbing" }, { "Identifier": 1148, "EventDate": "10-01-2014", "Title": "Not Your B*tch!", "Location": "St Julians", "Venue": "Moov", "EventType": "Clubbing" }, { "Identifier": 1149, "EventDate": "10-01-2014", "Title": "Finally Fridays", "Location": "St Julians", "Venue": "Dash Club", "EventType": "Clubbing" }, { "Identifier": 1150, "EventDate": "11-01-2014", "Title": "Met Opera: Falstaff - Verdi", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1151, "EventDate": "11-01-2014", "Title": "Pinocchio - A Maltese Pantomime at the Catholic Institute ", "Location": "Floriana", "Venue": "Catholic Institute", "EventType": "Theatre" }, { "Identifier": 1152, "EventDate": "11-01-2014", "Title": "Hippolyte et Aricie | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1153, "EventDate": "11-01-2014", "Title": "Blackout!", "Location": "St Julians", "Venue": "Moscow Club", "EventType": "Clubbing" }, { "Identifier": 1154, "EventDate": "11-01-2014", "Title": "Salome by Oscar Wilde (Maltese)", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Theatre" }, { "Identifier": 1155, "EventDate": "11-01-2014", "Title": "Annual JCI Welcome Party", "Location": "Sliema", "Venue": "One38 Lounge", "EventType": "SpecialEvents" }, { "Identifier": 1156, "EventDate": "11-01-2014", "Title": "Casablanca Saturdays", "Location": "Bahar Ic-Caghaq", "Venue": "Casablanca", "EventType": "Clubbing" }, { "Identifier": 1157, "EventDate": "11-01-2014", "Title": "Live at Remedy", "Location": "St Julians", "Venue": "Coconut Grove /...", "EventType": "Music" }, { "Identifier": 1158, "EventDate": "11-01-2014", "Title": "Los Santos Presents Daniel Simler", "Location": "St Julians", "Venue": "Moov", "EventType": "Clubbing" }, { "Identifier": 1159, "EventDate": "11-01-2014", "Title": "Native Live at Black Gold", "Location": "Sliema", "Venue": "Black Gold", "EventType": "Music" }, { "Identifier": 1160, "EventDate": "11-01-2014", "Title": "Super Saturdays", "Location": "St Julians", "Venue": "Dash Club", "EventType": "Clubbing" }, { "Identifier": 1161, "EventDate": "11-01-2014", "Title": "Bad Rabbits", "Location": "St Julians", "Venue": "Places", "EventType": "Clubbing" }, { "Identifier": 1162, "EventDate": "12-01-2014", "Title": "Guided Nature Walk", "Location": "Manikata", "Venue": "Ix-Xaghra l-Hamra", "EventType": "SpecialEvents" }, { "Identifier": 1163, "EventDate": "12-01-2014", "Title": "Lunchtime Concert Series 2014", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1164, "EventDate": "12-01-2014", "Title": "Sherlock Holmes Event", "Location": "Mdina", "Venue": "Palazzo de Piro", "EventType": "SpecialEvents" }, { "Identifier": 1165, "EventDate": "12-01-2014", "Title": "Hangover Sundays", "Location": "St Julians", "Venue": "Nordic Bar", "EventType": "Clubbing" }, { "Identifier": 1166, "EventDate": "12-01-2014", "Title": "Sunday Afternoon Party at Zeta Bar", "Location": "Bugibba", "Venue": "Zeta Bar", "EventType": "Clubbing" }, { "Identifier": 1167, "EventDate": "12-01-2014", "Title": "Sin Sundays", "Location": "St Julians", "Venue": "Club Anonymous", "EventType": "Clubbing" }, { "Identifier": 1168, "EventDate": "12-01-2014", "Title": "Sundays at The Villa", "Location": "St Julians", "Venue": "The Villa", "EventType": "Clubbing" }, { "Identifier": 1169, "EventDate": "12-01-2014", "Title": "Cosa Nostra: Night 14", "Location": "St Julians", "Venue": "Mansion", "EventType": "Clubbing" }, { "Identifier": 1170, "EventDate": "12-01-2014", "Title": "Woman: Collective Art Exhibition", "Location": "Mosta", "Venue": "Razzett...", "EventType": "Exhibitions" }, { "Identifier": 1171, "EventDate": "12-01-2014", "Title": "Dashing Sundays", "Location": "St Julians", "Venue": "Dash Club", "EventType": "Clubbing" }, { "Identifier": 1172, "EventDate": "13-01-2014", "Title": "Mass in B Minor | Valletta Baroque Festival", "Location": "Valletta", "Venue": "St. John\'s...", "EventType": "Music" }, { "Identifier": 1173, "EventDate": "13-01-2014", "Title": "Beginner\'s Yoga", "Location": "San Gwann", "Venue": "Jungle Spirit ", "EventType": "Learning" }, { "Identifier": 1174, "EventDate": "14-01-2014", "Title": "Coffee Morning", "Location": "St Pauls Bay", "Venue": "San Pawl Hotel", "EventType": "SpecialEvents" }, { "Identifier": 1175, "EventDate": "14-01-2014", "Title": "Electronic Music Production Course", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1176, "EventDate": "14-01-2014", "Title": "The Six Brandenburg Concertos | Baroque Festival", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1177, "EventDate": "15-01-2014", "Title": "Environmaintenance", "Location": "Naxxar", "Venue": "Kent Court", "EventType": "Learning" }, { "Identifier": 1178, "EventDate": "15-01-2014", "Title": "Walk To Collect Funds", "Location": "Qrendi", "Venue": "Qrendi Parish Church", "EventType": "FundRaising" }, { "Identifier": 1179, "EventDate": "15-01-2014", "Title": "Little Picasso", "Location": "San Gwann", "Venue": "Jungle Spirit ", "EventType": "Learning" }, { "Identifier": 1180, "EventDate": "15-01-2014", "Title": "Looking at Paintings", "Location": "Mosta", "Venue": "PrevArti - Art...", "EventType": "Learning" }, { "Identifier": 1181, "EventDate": "15-01-2014", "Title": "DJ Course", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1182, "EventDate": "15-01-2014", "Title": "Creation, Battles & Concertos | Baroque Festival", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1183, "EventDate": "15-01-2014", "Title": "Maltese Night ", "Location": "Qormi", "Venue": "Razzett L-Antik", "EventType": "SpecialEvents" }, { "Identifier": 1184, "EventDate": "16-01-2014", "Title": "Spinal Therapy Pilates", "Location": "San Gwann", "Venue": "Jungle Spirit ", "EventType": "Learning" }, { "Identifier": 1185, "EventDate": "16-01-2014", "Title": "Galerie de Portraits | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Ta\' Giezu...", "EventType": "Music" }, { "Identifier": 1186, "EventDate": "17-01-2014", "Title": "Valletta String Masterclasses 2014", "Location": "Valletta", "Venue": "Around Valletta", "EventType": "Learning" }, { "Identifier": 1187, "EventDate": "17-01-2014", "Title": "Lasallian Nights: Most Haunted", "Location": "Vittoriosa", "Venue": "De La Salle College", "EventType": "Theatre" }, { "Identifier": 1188, "EventDate": "17-01-2014", "Title": "Baroque on High Sea | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1189, "EventDate": "17-01-2014", "Title": "Assemble! Open Bar Party", "Location": "Paceville", "Venue": "Cabanas Club", "EventType": "Clubbing" }, { "Identifier": 1190, "EventDate": "17-01-2014", "Title": "Boogie Woogie Night", "Location": "Marsascala", "Venue": "Vampiro Club", "EventType": "Clubbing" }, { "Identifier": 1191, "EventDate": "18-01-2014", "Title": "The Goldberg Variations | Valletta Baroque Festival", "Location": "Valletta", "Venue": "St. Nicholas...", "EventType": "Music" }, { "Identifier": 1192, "EventDate": "18-01-2014", "Title": "Alkalizing Nutrition Workshop", "Location": "San Gwann", "Venue": "The Hellers...", "EventType": "SpecialEvents" }, { "Identifier": 1193, "EventDate": "18-01-2014", "Title": "Painting Therapy", "Location": "San Gwann", "Venue": "Jungle Spirit ", "EventType": "Learning" }, { "Identifier": 1194, "EventDate": "18-01-2014", "Title": "Monteverdi Vespers | Valletta Baroque Festival", "Location": "Valletta", "Venue": "St. Paul\'s...", "EventType": "Music" }, { "Identifier": 1195, "EventDate": "18-01-2014", "Title": "Interstellar Locals", "Location": "San Gwann", "Venue": "Liquid Club", "EventType": "Clubbing" }, { "Identifier": 1196, "EventDate": "18-01-2014", "Title": "Fragmented", "Location": "St Julians", "Venue": "The Playground", "EventType": "Clubbing" }, { "Identifier": 1197, "EventDate": "19-01-2014", "Title": "Salsa Workshop", "Location": "San Gwann", "Venue": "Jungle Spirit ", "EventType": "Learning" }, { "Identifier": 1198, "EventDate": "19-01-2014", "Title": "Lunchtime Concert Series 2014", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1199, "EventDate": "19-01-2014", "Title": "Mandolin Baroque Music | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Grand...", "EventType": "Music" }, { "Identifier": 1200, "EventDate": "19-01-2014", "Title": "Toi Toi for Kids | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Theatre" }, { "Identifier": 1201, "EventDate": "19-01-2014", "Title": "Jewels: Live from The Bolshoi Theatre ", "Location": "St Julians", "Venue": "Eden Cinemas", "EventType": "Dance" }, { "Identifier": 1202, "EventDate": "19-01-2014", "Title": "The Bach Road Journey", "Location": "Mdina", "Venue": "Carmelite Church", "EventType": "Music" }, { "Identifier": 1203, "EventDate": "19-01-2014", "Title": "Sweet Stay Awhile | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Church of St....", "EventType": "Music" }, { "Identifier": 1204, "EventDate": "19-01-2014", "Title": "Tribute to Rameau | Valletta Baroque Festival", "Location": "Valletta", "Venue": "St. Nicholas...", "EventType": "Music" }, { "Identifier": 1205, "EventDate": "20-01-2014", "Title": "Kids\' Showdance Course", "Location": "San Gwann", "Venue": "Jungle Spirit ", "EventType": "Learning" }, { "Identifier": 1206, "EventDate": "20-01-2014", "Title": "Music from the Habsburg Court | Baroque Festival", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1207, "EventDate": "20-01-2014", "Title": "Meditation Mondays", "Location": "St Julians", "Venue": "Why Not?", "EventType": "SpecialEvents" }, { "Identifier": 1208, "EventDate": "21-01-2014", "Title": "Bach meets Pergolesi\'s Stabat Mater ", "Location": "Valletta", "Venue": "St. Paul\'s...", "EventType": "Music" }, { "Identifier": 1209, "EventDate": "21-01-2014", "Title": "Piano Recital by Gabi Sultana", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1210, "EventDate": "22-01-2014", "Title": "The Nature of Collecting", "Location": "Mosta", "Venue": "PrevArti - Art...", "EventType": "Learning" }, { "Identifier": 1211, "EventDate": "22-01-2014", "Title": "Coffee with Venus | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Grand...", "EventType": "Music" }, { "Identifier": 1212, "EventDate": "23-01-2014", "Title": "Airs Enchantee | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1213, "EventDate": "23-01-2014", "Title": "Hard Rock Comedy Club #13", "Location": "Floriana", "Venue": "Hard Rock Bar", "EventType": "SpecialEvents" }, { "Identifier": 1214, "EventDate": "24-01-2014", "Title": "Raymond Pitre\' Documentary", "Location": "Mdina", "Venue": "Palazzo de Piro", "EventType": "Exhibitions" }, { "Identifier": 1215, "EventDate": "24-01-2014", "Title": "Guitarist Simon Schembri | Baroque Festival", "Location": "Valletta", "Venue": "St. Nicholas...", "EventType": "Music" }, { "Identifier": 1216, "EventDate": "24-01-2014", "Title": "AngelCrypt & Oblique Visions", "Location": "St Julians", "Venue": "Coconut Grove /...", "EventType": "Music" }, { "Identifier": 1217, "EventDate": "24-01-2014", "Title": "Lucky Jack Comedy Club #4", "Location": "Victoria, Gozo", "Venue": "Lucky Jack\'s", "EventType": "SpecialEvents" }, { "Identifier": 1218, "EventDate": "25-01-2014", "Title": "Lords & Masters | Valletta Baroque Festival", "Location": "Valletta", "Venue": "St. Paul\'s...", "EventType": "Music" }, { "Identifier": 1219, "EventDate": "25-01-2014", "Title": "Le Meridien Wedding Showcase", "Location": "St Julians", "Venue": "Le Meridien St...", "EventType": "Exhibitions" }, { "Identifier": 1220, "EventDate": "25-01-2014", "Title": "Baroque Festival Ball", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "SpecialEvents" }, { "Identifier": 1221, "EventDate": "25-01-2014", "Title": "The Alchemist", "Location": "St Julians", "Venue": "Ryan\'s Irish...", "EventType": "Clubbing" }, { "Identifier": 1222, "EventDate": "25-01-2014", "Title": "Rick Cee Live at Places", "Location": "St Julians", "Venue": "Places", "EventType": "Clubbing" }, { "Identifier": 1223, "EventDate": "25-01-2014", "Title": "N\'Heaven Solo Goes Anthems", "Location": "Rabat", "Venue": "Tattingers Club", "EventType": "Clubbing" }, { "Identifier": 1224, "EventDate": "25-01-2014", "Title": "C.S.S. Influences", "Location": "San Gwann", "Venue": "Liquid Club", "EventType": "Clubbing" }, { "Identifier": 1225, "EventDate": "26-01-2014", "Title": "In Bach\'s Footsteps | Baroque Festival", "Location": "Valletta", "Venue": "Church of St....", "EventType": "Music" }, { "Identifier": 1226, "EventDate": "26-01-2014", "Title": "Villains and Lovers | Valletta Baroque Festival", "Location": "Valletta", "Venue": "Grand...", "EventType": "Music" }, { "Identifier": 1227, "EventDate": "27-01-2014", "Title": "The WRMC Restaurants Quality Recognition Awards 2014", "Location": "St Julians", "Venue": "Hilton Malta", "EventType": "SpecialEvents" }, { "Identifier": 1228, "EventDate": "30-01-2014", "Title": "Tender Napalm", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Theatre" }, { "Identifier": 1229, "EventDate": "31-01-2014", "Title": "An Evening of Italian Opera", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1230, "EventDate": "31-01-2014", "Title": "Studio 54", "Location": "Paceville", "Venue": "So City", "EventType": "Clubbing" }, { "Identifier": 1231, "EventDate": "01-02-2014", "Title": "Advanced Angel Reading Workshop", "Location": "Sliema", "Venue": "Tigne Holistic...", "EventType": "SpecialEvents" }, { "Identifier": 1232, "EventDate": "01-02-2014", "Title": "Valletta International Piano Festival", "Location": "Around Malta", "Venue": "Around Malta ", "EventType": "Music" }, { "Identifier": 1233, "EventDate": "01-02-2014", "Title": "Smirnoff Experience", "Location": "", "Venue": "", "EventType": "Clubbing" }, { "Identifier": 1234, "EventDate": "01-02-2014", "Title": "Game Over", "Location": "San Gwann", "Venue": "Liquid Club", "EventType": "Clubbing" }, { "Identifier": 1235, "EventDate": "02-02-2014", "Title": "Lost Illusions Live from The Bolshoi Theatre", "Location": "St Julians", "Venue": "Eden Cinemas", "EventType": "Dance" }, { "Identifier": 1236, "EventDate": "07-02-2014", "Title": "Valletta International Piano Competition", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1237, "EventDate": "07-02-2014", "Title": "I Love, You Love", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Theatre" }, { "Identifier": 1238, "EventDate": "07-02-2014", "Title": "Adam and Eve ... and Kevin", "Location": "Sta Venera", "Venue": "MADC Clubrooms", "EventType": "Theatre" }, { "Identifier": 1239, "EventDate": "07-02-2014", "Title": "Eden Comedy Club\'s Stand-Up Comedy Night", "Location": "St Julians", "Venue": "Eden Cinemas", "EventType": "SpecialEvents" }, { "Identifier": 1240, "EventDate": "08-02-2014", "Title": "Usui Reiki Level One", "Location": "Sliema", "Venue": "Tigne Holistic...", "EventType": "SpecialEvents" }, { "Identifier": 1241, "EventDate": "08-02-2014", "Title": "Met Opera: Rusalka - Dvorak", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1242, "EventDate": "08-02-2014", "Title": "Verita: Piano and Soprano Concert", "Location": "Valletta", "Venue": "Casino Maltese", "EventType": "Music" }, { "Identifier": 1243, "EventDate": "08-02-2014", "Title": "The Areola Treat Album Release", "Location": "Buskett", "Venue": "Chateau Buskett", "EventType": "Music" }, { "Identifier": 1244, "EventDate": "08-02-2014", "Title": "Ejeca: Squadron and DonDisko", "Location": "San Gwann", "Venue": "Liquid Club", "EventType": "Clubbing" }, { "Identifier": 1245, "EventDate": "09-02-2014", "Title": "Walk & Cycle for Charity", "Location": "Zejtun", "Venue": "Around Zejtun", "EventType": "FundRaising" }, { "Identifier": 1246, "EventDate": "09-02-2014", "Title": "Toi Toi 628 - Concert for Children", "Location": "Valletta", "Venue": "Studio Theatre", "EventType": "Theatre" }, { "Identifier": 1247, "EventDate": "09-02-2014", "Title": "Sasha Fall and Winter Tour", "Location": "St Julians", "Venue": "Mansion", "EventType": "Clubbing" }, { "Identifier": 1248, "EventDate": "10-02-2014", "Title": "Toi Toi 022 - Concert for Children", "Location": "Valletta", "Venue": "Studio Theatre", "EventType": "Theatre" }, { "Identifier": 1249, "EventDate": "11-02-2014", "Title": "Duo Pavan-Canale", "Location": "Valletta", "Venue": "Sala Isouard", "EventType": "Music" }, { "Identifier": 1250, "EventDate": "12-02-2014", "Title": "Don Giovanni: Live from the Royal Opera House", "Location": "St Julians", "Venue": "Eden Cinemas", "EventType": "Music" }, { "Identifier": 1251, "EventDate": "13-02-2014", "Title": "The History of Relics in Malta: Public Lecture", "Location": "Valletta", "Venue": "Din l-Art Helwa", "EventType": "Learning" }, { "Identifier": 1252, "EventDate": "14-02-2014", "Title": "Mu-Danzas Boleras", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Dance" }, { "Identifier": 1253, "EventDate": "14-02-2014", "Title": "Romantic Classics", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1254, "EventDate": "15-02-2014", "Title": "Marju and The Aunt From America", "Location": "Birkirkara", "Venue": "St. Joseph the...", "EventType": "Theatre" }, { "Identifier": 1255, "EventDate": "15-02-2014", "Title": "Forget Me Not", "Location": "Valletta", "Venue": "MITP Theatre", "EventType": "Theatre" }, { "Identifier": 1256, "EventDate": "15-02-2014", "Title": "Kettel_Live", "Location": "", "Venue": "", "EventType": "Clubbing" }, { "Identifier": 1257, "EventDate": "15-02-2014", "Title": "Ian Pooley Live", "Location": "Bahar Ic-Caghaq", "Venue": "Casablanca", "EventType": "Clubbing" }, { "Identifier": 1258, "EventDate": "15-02-2014", "Title": "Remembering Steve Borg", "Location": "St Julians", "Venue": "Hard Rock Cafe ", "EventType": "FundRaising" }, { "Identifier": 1259, "EventDate": "16-02-2014", "Title": "Toi Toi 325 - Concert for Children", "Location": "Valletta", "Venue": "Studio Theatre", "EventType": "Theatre" }, { "Identifier": 1260, "EventDate": "19-02-2014", "Title": "Archaeoacoustics Conference ", "Location": "Attard", "Venue": "The Corinthia...", "EventType": "Learning" }, { "Identifier": 1261, "EventDate": "20-02-2014", "Title": "Spotlight Concert: Tricia Dawn Williams", "Location": "Valletta", "Venue": "Sala Isouard", "EventType": "Music" }, { "Identifier": 1262, "EventDate": "21-02-2014", "Title": "Voca People", "Location": "Ta\' Qali", "Venue": "MFCC", "EventType": "Music" }, { "Identifier": 1263, "EventDate": "21-02-2014", "Title": "Fiddler on the Roof", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Theatre" }, { "Identifier": 1264, "EventDate": "23-02-2014", "Title": "Vodafone Malta Marathon, Half Marathon & Walkathon 2014", "Location": "Around Malta", "Venue": "Around Malta ", "EventType": "Sports" }, { "Identifier": 1265, "EventDate": "23-02-2014", "Title": "In Guardia & Alarme Reenactment", "Location": "Vittoriosa", "Venue": "St. John\'s...", "EventType": "SpecialEvents" }, { "Identifier": 1266, "EventDate": "24-02-2014", "Title": "From The World of Theatre", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Theatre" }, { "Identifier": 1267, "EventDate": "27-02-2014", "Title": "Nadine\'s Jazz Project", "Location": "Luqa", "Venue": "Talbot and Bons", "EventType": "Music" }, { "Identifier": 1268, "EventDate": "28-02-2014", "Title": "Carnival in Malta & Gozo", "Location": "Around Malta", "Venue": "Around Malta ", "EventType": "SpecialEvents" }, { "Identifier": 1269, "EventDate": "28-02-2014", "Title": "Gypsy Mambo \'Underground\'", "Location": "Gzira", "Venue": "Orpheum Theatre", "EventType": "Music" }, { "Identifier": 1270, "EventDate": "01-03-2014", "Title": "Met Opera: Prince Igor -Borodin", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1271, "EventDate": "05-03-2014", "Title": "Partying with Art", "Location": "Mosta", "Venue": "PrevArti - Art...", "EventType": "Learning" }, { "Identifier": 1272, "EventDate": "07-03-2014", "Title": "Smash Muaythai 8", "Location": "", "Venue": "", "EventType": "Sports" }, { "Identifier": 1273, "EventDate": "07-03-2014", "Title": "Composer Conducts", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1274, "EventDate": "07-03-2014", "Title": "Adult Entertainment", "Location": "Sta Venera", "Venue": "MADC Clubrooms", "EventType": "Theatre" }, { "Identifier": 1275, "EventDate": "08-03-2014", "Title": "Shellshock Metal Fest", "Location": "", "Venue": "", "EventType": "Music" }, { "Identifier": 1276, "EventDate": "13-03-2014", "Title": "Archaeological Research in Roman sites: Public lecture", "Location": "Valletta", "Venue": "Din l-Art Helwa", "EventType": "Learning" }, { "Identifier": 1277, "EventDate": "15-03-2014", "Title": "Malta International Judo Open", "Location": "Cospicua", "Venue": "Cottonera Sports...", "EventType": "Sports" }, { "Identifier": 1278, "EventDate": "15-03-2014", "Title": "Met Opera: Werther - Massenet", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1279, "EventDate": "16-03-2014", "Title": "Malta International Judo Special Entry", "Location": "Cospicua", "Venue": "Cottonera Sports...", "EventType": "Sports" }, { "Identifier": 1280, "EventDate": "18-03-2014", "Title": "Reflex 80s 10th Anniversary", "Location": "Rabat", "Venue": "Gianpula", "EventType": "Clubbing" }, { "Identifier": 1281, "EventDate": "19-03-2014", "Title": "The Sleeping Beauty: Live from the ROH", "Location": "St Julians", "Venue": "Eden Cinemas", "EventType": "Dance" }, { "Identifier": 1282, "EventDate": "20-03-2014", "Title": "La Clemenza di Tito", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Theatre" }, { "Identifier": 1283, "EventDate": "27-03-2014", "Title": "Spotlight Concert: Karl Mifsud & Charlene Farrugia", "Location": "Valletta", "Venue": "Sala Isouard", "EventType": "Music" }, { "Identifier": 1284, "EventDate": "29-03-2014", "Title": "Divas - The Dance Show", "Location": "Ta\' Qali", "Venue": "MFCC", "EventType": "Dance" }, { "Identifier": 1285, "EventDate": "29-03-2014", "Title": "Double Fo", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Theatre" }, { "Identifier": 1286, "EventDate": "30-03-2014", "Title": "The Golden Age: Live from the Bolshoi Theatre", "Location": "St Julians", "Venue": "Eden Cinemas", "EventType": "Dance" }, { "Identifier": 1287, "EventDate": "04-04-2014", "Title": "Durufle Requiem", "Location": "Floriana", "Venue": "Robert Sammut Hall", "EventType": "Music" }, { "Identifier": 1288, "EventDate": "05-04-2014", "Title": "Met Opera: La Boheme - Puccini", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1289, "EventDate": "10-04-2014", "Title": "The Grand Master presides over Strait Street: Public lecture ", "Location": "Valletta", "Venue": "Din l-Art Helwa", "EventType": "Learning" }, { "Identifier": 1290, "EventDate": "23-04-2014", "Title": "The KSU Gourmet Trip", "Location": "Luqa", "Venue": "Malta...", "EventType": "SpecialEvents" }, { "Identifier": 1291, "EventDate": "26-04-2014", "Title": "Crystal Healing Practitioner Diploma Malta", "Location": "Sliema", "Venue": "Tigne Holistic...", "EventType": "Learning" }, { "Identifier": 1292, "EventDate": "26-04-2014", "Title": "Met Opera: Cosi Fan Tutte - Mozart", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1293, "EventDate": "26-04-2014", "Title": "Bombers - The Ultimate Motorhead Tribute ", "Location": "Paola", "Venue": "Serjeant\'s Mess", "EventType": "Music" }, { "Identifier": 1294, "EventDate": "28-04-2014", "Title": "The Winter\'s Tale: Live from the ROH", "Location": "St Julians", "Venue": "Eden Cinemas", "EventType": "Dance" }, { "Identifier": 1295, "EventDate": "03-05-2014", "Title": "National Fireworks Festival", "Location": "Floriana", "Venue": "The Granaries", "EventType": "SpecialEvents" }, { "Identifier": 1296, "EventDate": "05-05-2014", "Title": "History in Action at Fort Rinella", "Location": "Kalkara", "Venue": "Fort Rinella", "EventType": "SpecialEvents" }, { "Identifier": 1297, "EventDate": "06-05-2014", "Title": "Victorian Garrison Day", "Location": "Kalkara", "Venue": "Fort Rinella", "EventType": "SpecialEvents" }, { "Identifier": 1298, "EventDate": "08-05-2014", "Title": "The Conservation of the Chapel of Auvergne: Public Lecture", "Location": "Valletta", "Venue": "Din l-Art Helwa", "EventType": "Learning" }, { "Identifier": 1299, "EventDate": "09-05-2014", "Title": "Ginastera & Brahms", "Location": "Valletta", "Venue": "Manoel Theatre", "EventType": "Music" }, { "Identifier": 1300, "EventDate": "10-05-2014", "Title": "Workshop: Seeking the Presence of Spirit", "Location": "Qala, Gozo", "Venue": "Juuls B&B", "EventType": "Learning" }, { "Identifier": 1301, "EventDate": "10-05-2014", "Title": "Met Opera: La Cenerentola - Rossini", "Location": "Valletta", "Venue": "St. James Cavalier ", "EventType": "Music" }, { "Identifier": 1302, "EventDate": "16-05-2014", "Title": "Organ at the Fore!", "Location": "Floriana", "Venue": "Robert Sammut Hall", "EventType": "Music" }, { "Identifier": 1303, "EventDate": "29-05-2014", "Title": "The Mandrake Root", "Location": "Pieta", "Venue": "Sa Maison Gardens", "EventType": "Theatre" }, { "Identifier": 1304, "EventDate": "30-05-2014", "Title": "Eco Gathering", "Location": "St Julians", "Venue": "Why Not?", "EventType": "SpecialEvents" }, { "Identifier": 1305, "EventDate": "02-06-2014", "Title": "ITT Institute of Travel & Tourism Conference 2014", "Location": "St Julians", "Venue": "Hilton Malta", "EventType": "Learning" }, { "Identifier": 1306, "EventDate": "02-06-2014", "Title": "Caravaggio: Art and Knighthood", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1307, "EventDate": "02-06-2014", "Title": "Military Architecture in Baroque Malta", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1308, "EventDate": "06-06-2014", "Title": "Follow The White Line", "Location": "Buskett", "Venue": "Chateau Buskett", "EventType": "Clubbing" }, { "Identifier": 1309, "EventDate": "09-06-2014", "Title": "Knights of St.John", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1310, "EventDate": "09-06-2014", "Title": "Near Eastern Studies", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1311, "EventDate": "09-06-2014", "Title": "Underwater Archaeology", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1312, "EventDate": "11-06-2014", "Title": "JCI European Conference 2014", "Location": "", "Venue": "", "EventType": "SpecialEvents" }, { "Identifier": 1313, "EventDate": "12-06-2014", "Title": "Environmental Management in Malta: Public Lecture ", "Location": "Valletta", "Venue": "Din l-Art Helwa", "EventType": "Learning" }, { "Identifier": 1314, "EventDate": "14-06-2014", "Title": "The Mediterranean Coast: Threats and Opportunities", "Location": "Msida ", "Venue": "University of Malta", "EventType": "Learning" }, { "Identifier": 1315, "EventDate": "24-06-2014", "Title": "Manon Lescaut: Live from The Royal Opera House", "Location": "St Julians", "Venue": "Eden Cinemas", "EventType": "Music" }, { "Identifier": 1316, "EventDate": "28-06-2014", "Title": "The Secret Circus", "Location": "Qawra", "Venue": "Around Qawra", "EventType": "SpecialEvents" }, { "Identifier": 1317, "EventDate": "05-07-2014", "Title": "Green Tree Record Label Party", "Location": "Mosta", "Venue": "Razzett l-Ahmar", "EventType": "SpecialEvents" }, { "Identifier": 1318, "EventDate": "16-07-2014", "Title": "Violin and Friends International Music Festival", "Location": "Around Malta", "Venue": "Around Malta ", "EventType": "SpecialEvents" }, { "Identifier": 1319, "EventDate": "17-07-2014", "Title": "Malta International Music Master Classes", "Location": "Valletta", "Venue": "Around Valletta", "EventType": "Learning" }, { "Identifier": 1320, "EventDate": "27-07-2014", "Title": "Malta International Music Competition", "Location": "Mdina", "Venue": "Mdina Local Council", "EventType": "Music" }, { "Identifier": 1321, "EventDate": "06-09-2014", "Title": "Malta Death Fest", "Location": "Buskett", "Venue": "Chateau Buskett", "EventType": "Music" }, { "Identifier": 1322, "EventDate": "25-09-2014", "Title": "Malta iGaming Summit 2014", "Location": "Around Malta", "Venue": "Around Malta ", "EventType": "Learning" }, { "Identifier": 1323, "EventDate": "24-10-2014", "Title": "The Malta Doom Metal Festival", "Location": "Buskett", "Venue": "Chateau Buskett", "EventType": "Music" } ] }';
                                    $scope.events = JSON.parse($scope.json).EventList;

                                    this.$onInit = function () {
                                        $scope.groupEventLocation($scope.events);
                                        $scope.genEventList('all');
                                    }

                                    $scope.groupEventLocation = function (events) {
                                        if (events.length === 0)
                                            return;

                                        for (var i = 0; i < events.length; i++) {
                                            var lloc = events[i]['Location'].toLowerCase().replace(' ', '_');
                                            var obj = {
                                                Identifier: events[i]['Identifier'],
                                                EventDate: events[i]['EventDate'],
                                                Title: events[i]['Title'],
                                                Location: events[i]['Location'],
                                                Venue: events[i]['Venue'],
                                                EventType: events[i]['EventType']
                                            };
                                            if (!$scope.cityEvents.hasOwnProperty(lloc)) {
                                                $scope.locations.push(events[i]['Location']);
                                                $scope.cityEvents[lloc] = [obj];
                                            } else {
                                                $scope.cityEvents[lloc].push(obj);
                                            }
                                        }
                                    };

                                    $scope.genEventList = function (location) {
                                        var location = (location) ? location : $scope.loc;
                                        if (location == 'all') {
                                            $scope.eventsList = $scope.events;
                                        } else {
                                            $scope.eventsList = $scope.cityEvents[location];
                                        }
                                    };

                                });
        </script>
    </body>
</html>